html {
	height: 2500px;
}

header {
	text-align: center;
	height: 570px;
	width: 100%;
    background: url("../images/headerbg.jpg");
    background-size: cover;
}

body {
	text-align: center;
}

nav {
	text-align: center;
	background: rgba(10,10,10,1);
	margin: 0 auto;
}

ul {
	text-align: center;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

li {
	display: inline;
    padding: 60px;
    color: white;
    font-size: 1em;
    font-family: 'Buda', cursive;
}

hr {
	width: 100%;
}

a {
	text-decoration: none;
	color: white;
}

.navlinks {
	text-decoration: none;
	color: white;
	padding: 0 30px;
}

.navlinks:hover {
	background-color: red;
}

p {

	max-width: 75%;
	color: white;
	text-align: center;
	text-align-last: center;
	margin: 0 auto;
	line-height: 2em;
	font-family: 'Buda', cursive;
	letter-spacing: .2em;
}

footer {
	background-color: black;
	height: 350px;
	width: 100%;
}

#headerlogo {
	text-align: center;
	padding-top: 180px;
}

#statment {
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 60px;
	height: 150px;
	text-align: center;
	background: black;	
}

#eng {
	
	text-align: center;
    height: 600px;
	margin: 0;
	background: url("../images/pm1.jpg");
	background-size: cover;
	position: relative;
}

#bm {
	text-align: center;
    height: 600px;
	margin: 0;
	background: url("../images/bm1.jpg");
	background-size: cover;
	position: relative;
}

#it {
	text-align: center;
    height: 600px;
	margin: 0;
	background: url("../images/it1.jpg");
	background-size: cover;
	position: relative;
}

.desc {
	text-align: center;
	padding-top: -250px;
	color: gray;
	max-width: 35%;
	margin: 40 auto;
	line-height: 1.1em;
	font-family: 'Buda', cursive;
	font-style: bold;
}

h1 {
	display: inline-block;
	background-color: black;
    margin: 0 auto;
	text-align: center;
	padding: 100px 170px 250px 170px;
	color: white;
	font-family: 'Cormorant', serif;
	font-size: 6em;
}

h2 {
	margin: 0 auto;
	text-align: center;
	margin-top: -235px;
	color: white;
	font-family: 'Cormorant', serif;
	font-size: 1.5em;
	letter-spacing: .5em;
}

.courses {
	position: absolute;
	padding: 30px 0px 65px 0px;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}

.courselinks {
	color: white;
	padding: 30px;
	transform: rotate(45deg);
}

.plus {
	position: relative;
	display: inline-block;
    font-size: 1.5em;
    background-color: rgba(0,0,0,.1);
    padding: 0px 10px 0px 10px;
    border: 1px solid white;
    border-radius: 50%;
    
}

.plus .plustext {
    visibility: hidden;
    width: 100px;
    font-size: .7em;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -160%;
}

.plus:hover .plustext {
    visibility: visible;
}



