html {
	background-color: white;
	background-size: cover;
	text-align: center;
}

.topnav {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,.95);
	z-index: 1;
	text-align: center;
}

.logo {
	float: left;
	padding-left: 35px;
}

header {
	height: 400px;
}

main {
	width: 80%;
	height: 1035px;
	float: right;
	background-color: rgba(255,255,255,1);
	font-size: 15px;
}

aside {
	width: 20%;
	height: 1035px;
	float: left;
	text-align: left;
	background-color: white;
}

.asidehead {
	padding-top: 1.5em;
    padding-left: 4em;
}

hr {
	width: 90%;
	color:black;
}

.news {
	width: 80%;
	padding-top: 4em;
    padding-left: 1em;
}

.readmore {
	text-decoration: none;
	color: black;
	font-style: italic;
	font-size: .8em;
	padding-top: .5em;
}

.footerblog {
	text-align: center;
	height: 1px;
	clear: both;
	visibility: hidden;
}

.footernews {
	display: block;
	float: left;
	max-width: 300px;
	max-height: 70%;
	padding-top: 50px;
	padding-left: 100px;
	visibility: hidden;
}

footer {
	height: 200px;
	clear: both;
	background-color: black;
}

.comp {
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: white;
	margin: 2.0em .5em 0px 2.5em;
	position: relative;
}

.complink {
	display: inline-block;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:901px) {

	aside {
	  width: 1%;
	  visibility: hidden;
	}

	main {
		float: none;
		width: auto;
		height: auto;
	}

	.comp {
		margin: .4em .1em 0px .5em;
	}

	footer {
		margin-top: 0px;
	}

	.footerblog {
		visibility: visible;
		height: 200px;
	}

	.footernews {
		visibility: visible;
	}

}